eap.comps.cache/src/main/resources/META-INF/eap_comps_cache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://eap/schema/comps/cache"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://eap/schema/comps/cache"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="cacheManager">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />
					<xsd:attribute name="provider" type="xsd:string" />
					<xsd:attribute name="annotationDriven" type="xsd:string" />
					<xsd:attribute name="order" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema> 