eap.comps.orm.jpa/src/main/resources/META-INF/eap_comps_orm_jpa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://eap/schema/comps/orm/jpa"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://eap/schema/comps/orm/jpa"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="init">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="basePackage" type="xsd:string" />
					<xsd:attribute name="modelPackage" type="xsd:string" />
					<xsd:attribute name="repositoryImplPostfix" type="xsd:string" />
					<xsd:attribute name="dataSource" type="xsd:string" />
					<xsd:attribute name="entityManagerFactoryId" type="xsd:string" />
					<xsd:attribute name="transactionManagerId" type="xsd:string" />
					<xsd:attribute name="default" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema> 